site_name: "Huawei Datacom Documentation"
site_url: "https://day-98.github.io/Huawei-Documentation/"
site_description: "Documentación técnica sobre Datacom"
use_directory_urls: false

theme:
  name: material
  favicon: 'Huawei_Standard_logo.svg'
  language: en
  
  features:
    # Navegación
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - navigation.instant
    - navigation.tracking
    
    # Búsqueda
    - search.highlight
    - search.share
    - search.suggest
    
    # Contenido
    - content.code.copy
    - content.tabs.link
  
  palette:
    # Modo claro
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: red
      accent: red
      toggle:
        icon: material/brightness-7
        name: Cambiar a modo oscuro
    
    # Modo oscuro
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/brightness-4
        name: Cambiar a modo claro

extra_css:
  - 'css/custom.css'

plugins:
  - search:
      lang:
        - en
        - es
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          default: true
          build: true
        - locale: es
          name: Español
          build: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - toc:
      permalink: true
      toc_depth: 3

nav:
  - Home: 'index.md'

  - General Information:
    - 'General/Ticket Creation.md'
    - 'General/Obtain ESN.md'
    - 'General/Commun Links.md'

  - EASYSUITE:
    - 'Typical Doubts/EasySuite Typical Doubts.md'

  - NCE CAMPUS:
    - 'NCE Campus/NCE Campus Typical Doubts.md'

  - eSIGHT:
    - 'General/Ticket Creation.md'

  - NCE FABRIC:
    - 'General/Ticket Creation.md'

  - NCE FABRIC INSIGHT:
    - 'General/Ticket Creation.md'
  
  - WAC:
    - 'Switches/SNMPv3 Configuration.md'

  - Switches:
    - 'Switches/Initialization.md'
    - 'Switches/SSH User.md'
    - 'Switches/Management Port Configuration.md'
    - 'Switches/VLAN Assignation.md'
    - 'Switches/M-LAG Configuration.md'
    - 'Switches/Uplink Configuration.md'
    - 'Switches/SNMPv3 Configuration.md'
